# ESBMC-AI Default Config File.
# The ESBMC-AI config is loaded in the following order:
# 1. CLI
# 2. TOML
# 3. env
# 4. dotenv
# 5. file_secret
# This file is provided as an example, however it should be customized to your
# needs as it probably contains values that are wrong for your system.
# To view all the possible config options and their description, run the 
# subcommand "list-config".
ai_model = "openai:gpt-5-nano"
temp_auto_clean = true
#temp_file_dir = "temp"
allow_successful = false
loading_hints = true
source_code_format = "full"

[verifier]
name = "esbmc"

[verifier.esbmc]
path = "~/.local/bin/esbmc"
params = [
    "--interval-analysis",
    "--memory-leak-check",
    "--goto-unwind",
    "--unlimited-goto-unwind",
    "--k-induction",
    "--state-hashing",
    "--add-symex-value-sets",
    "--k-step",
    "2",
    "--floatbv",
    "--unlimited-k-steps",
    "--context-bound",
    "2",
]
output_type = "full"
timeout = 60

[llm_requests]
max_tries = 5
timeout = 60
